<a href="https://colab.research.google.com/github/applepple/apple/blob/main/Copy_of_n112a_feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
 
 ## $\rm PDR = {ì‹œê°€ì´ì•¡ \over í•´ë‹¹~ê¸°ì—…ì´~í¬í•¨ëœ~ì „ì²´~ì‹œì¥~ê·œëª¨(TAM)~\times~ì‹œì¥ì ìœ ìœ¨}$

  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì „ì œì¡°ê±´ì„ í™œìš©í•˜ì„¸ìš”.
  - ì ìœ ìœ¨ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 
    - 18ë…„ : 62%
    - 19ë…„ : 63.5% 
  - ì‹œì¥ì˜ ê·œëª¨ 
     - 18ë…„ : 15ì¡° 
     - 19ë…„ : 15ì¡°

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|





- **ê¸ˆì¼ ë¬¸ì œëŠ” ```pd.read_csv ì—ì„œ thousands = ',' ``` ê°’ì„ ì¸ìë¡œ ì£¼ì–´ í’€ë©´ ì•ˆë©ë‹ˆë‹¤.**

In [11]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

# importing pandas as pd           
import pandas as pd

# importing csv file
# ë³€ìˆ˜ ì´ë¦„ì€ dfë¡œ ì €ì¥
df = pd.read_csv(url, header = None)
df.columns = headers
#df.dtypes
df

,ë¶„ê¸°,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,...,íˆ¬ìí™œë™í˜„ê¸ˆíë¦„,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°)
0,19/6,"12,578","3,991","3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-1,878","-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77
1,19/9,"13,222","3,825","3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-83,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87
2,19/12,"11,982","2,523","2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-501,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42
3,20/3,"11,784","3,150","3,150","4,156","2,939","2,930",9,"108,594","24,862",...,"-1,392",-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71
4,20/6,"13,188","3,947","3,947","4,020","2,935","2,931",4,"110,282","23,386",...,-214,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46

In [ ]:
# ê° ë¶„ê¸°ë³„ ì˜ì—… ì´ìµë¥ 

def toInt(string):
  return int(string.replace(',',''))

df['ì˜ì—…ì´ìµ']=df['ì˜ì—…ì´ìµ'].apply(toInt)

df['ë§¤ì¶œì•¡']=df['ë§¤ì¶œì•¡'].apply(toInt)

df['ì˜ì—…ì´ìµë¥ 2']=df['ì˜ì—…ì´ìµ']/df['ë§¤ì¶œì•¡'] * 100
df

,ë¶„ê¸°,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,...,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°),ì˜ì—…ì´ìµë¥ 2
0,19/6,12578,3991,"3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77,31.730005
1,19/9,13222,3825,"3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87,28.929058
2,19/12,11982,2523,"2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42,21.056585
3,20/3,11784,3150,"3,150","4,156","2,939","2,930",9,"108,594","24,862",...,-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71,26.731161
4,20/6,13188,3947,"3,947","4,020","2,935","2,931",4,"110,282","23,386",...,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46,29.928723

In [ ]:
# Price to Dream Ratio ê³„ì‚°
# PDR : ì‹œê°€ì´ì•¡/(ì‹œì¥ê·œëª¨*(ì‹œì¥ì ìœ ìœ¨/100))*100

d2 = {'êµ¬ë¶„':['18ë…„','19ë…„'],
    'ì¢…ê°€':[101500,93800],
    'ë°œí–‰ì£¼ì‹ìˆ˜':[137292497,137292497],
    'ì‹œê°€ì´ì•¡':[13935188445500,12878036218600],
    'ì‹œì¥ì ìœ ìœ¨(%)':[62.0,63.5],
    'ì‹œì¥ì ìœ ìœ¨':[62.0/100,63.5/100],
    'ì‹œì¥ê·œëª¨':[15000000000000,15000000000000],
    'PDR':['~','~']}
  
df2 = pd.DataFrame(d2)
df2['PDR'] = df2['ì‹œê°€ì´ì•¡'] / (df2['ì‹œì¥ê·œëª¨'] * (df2['ì‹œì¥ì ìœ ìœ¨'])) 
df2['PDR(%)'] = df2['ì‹œê°€ì´ì•¡'] / (df2['ì‹œì¥ê·œëª¨'] * (df2['ì‹œì¥ì ìœ ìœ¨'])) * 100

df2

,êµ¬ë¶„,ì¢…ê°€,ë°œí–‰ì£¼ì‹ìˆ˜,ì‹œê°€ì´ì•¡,ì‹œì¥ì ìœ ìœ¨(%),ì‹œì¥ì ìœ ìœ¨,ì‹œì¥ê·œëª¨,PDR,PDR(%)
0,18ë…„,101500,137292497,13935188445500,62.0,0.620,15000000000000,1.498407,149.840736
1,19ë…„,93800,137292497,12878036218600,63.5,0.635,15000000000000,1.352025,135.202480

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤